<!DOCTYPE html>
<html lang="en">
        <head>
                <title>
                        Chat público
                </title>
                <% include ../view/partials/head %>
        </head>
        <header>
                <% include ../view/partials/navBar %>
        </header>
        <body>
                <div class="container">
                        <div class="row" id="publicChat" style="margin-top: 70px;">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-6">
                                        <h3>
                                                Chat público
                                        </h3>
                                        <div class="chatArea" id="pubChat">
                                                <div class="well" v-for="pubMessage in pubMessages">
                                                        <div style="float:left;" v-if="pubMessage.sender">
                                                                {{ pubMessage.sender}}
                                                        </div>
                                                        <div style="float:left;" v-else="">
                                                                Desconhecido
                                                        </div>
                                                        <div style="display: inline-block; margin:0 auto;">
                                                                {{ pubMessage.text }}
                                                        </div>
                                                        <div style="float:right;">
                                                                <i>
                                                                        {{ pubMessage.timestamp }}
                                                                </i>
                                                        </div>
                                                </div>
                                        </div>
                                        <form id="pubForm">
                                                <div class="form-group">
                                                        <textarea class="form-control" cols="5" id="pubTxt" rows="5">
                                                        </textarea>
                                                </div>
                                                <div class="form-group">
                                                        <button class="btn btn-success" type="submit">
                                                                Enviar
                                                        </button>
                                                </div>
                                        </form>
                                </div>
                                <script>
                                        addVuePubChat(<%- JSON.stringify(pubMessages) %>);
                                </script>
                        </div>
                </div>
        </body>
</html>