<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<% include ../view/partials/head %>
</head>
<header>
    <% include ../view/partials/navBar %>
</header>
<body>
	<center>
		<h1>
			Registo
		<h1>
	</center>
	<div class="container">
		<form action="/register" method="post">
  			<div class="form-group">
    			<label for="exampleInputEmail1">Nome</label>
    			<input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Nome">
  			</div>
  			<div class="form-group">
    			<label for="nomeUtilizador">Nome de Utilizador</label>
    			<input type="text" class="form-control" id="nomeUtilizador" name="login" placeholder="Nome de utilizador">
			</div>
			<div class="form-group">
    			<label for="password">Palavra-Passe</label>
    			<input type="password" class="form-control" id="password" name="password" placeholder="Palavra-Passe">
			</div>
			<center>
				  <button type="submit" class="btn btn-primary">Registar</button>
			</center>
		</form>
	</div>
</body>
</html>
