#privateChat, #publicChat {
        margin-top: 5vh;
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
}
.chatArea {
        overflow: scroll;
        height: 50%;
}
form {
        height: 30%;
}
.well {
        text-align: center;
        display: flex;
        justify-content: space-between;
        background-color: lightgray;
        margin: 5%;
        padding: 5%
}
.well>div {
        width: 32% !important;
}